<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fromUser_id %><br>
    <%= f.text_field :fromUser_id %>
  </div>
  <div class="field">
    <%= f.label :toUser_id %><br>
    <%= f.text_field :toUser_id %>
  </div>
  <div class="field">
    <%= f.label :fromDate %><br>
    <%= f.datetime_select :fromDate %>
  </div>
  <div class="field">
    <%= f.label :toDate %><br>
    <%= f.datetime_select :toDate %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
